<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="5" preserve-order="true" name="F:/Workspace/TestNgDemo">
        <parameter name="parameter1" value="123123"/>
        <parameter name="parameter2" value="4567890"/>
        <classes>
        <class name="testNg"/>
        </classes>
    </test>
</suite>